<div class="row">
  <div class="col-md-6 offset-md-3">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <h4>Introduzca los siguientes datos:</h4>
  <label>Correo Electrónico</label>
  <input type="email" id="inputEmail" class="form-control"
  formControlName="email" required autofocus>
  <label>Contraseña</label>
  <input type="password" id="inputPassword" class="form-control"
  formControlName="password" required>
  <hr>
  <button type="submit"
  class="btn btn-primary"
  [disabled]="!loginForm.valid"
  >Inicie sesión</button>
  </form>
  <p>Si no dispone de cuenta pulse <a routerLink="/registro">aquí</a></p>

<p class="alert alert-danger" *ngIf="mensaje">
El usuario o contraseña no es correcto
</p>
  </div>
 </div>